# Web API
fastapi
uvicorn[standard]
python-multipart
gunicorn
python-docx
# Config / Validation
pydantic
pydantic-settings
python-dotenv

# DB
sqlalchemy
psycopg2-binary
asyncpg

# AI
google-genai
langchain
langchain-google-genai
chromadb

# OCR / Document
easyocr==1.7.1
python-bidi==0.3.4
PyMuPDF
Pillow
numpy

# Crawling / Parsing
requests
beautifulsoup4